services:
  portfolio-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-frontend
    networks:
      - web
    expose:
      - "80"

networks:
  web:
    external: true
