services:
  portfolio-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-frontend
    networks:
      - web
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
networks:
  web:
    external: true
