@import "tailwindcss";

:root {
  --background: #f8fbff;
  --foreground: #0f172a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), "Segoe UI", sans-serif;
}

.font-display {
  font-family: var(--font-display), "Times New Roman", serif;
}

* {
  scroll-behavior: smooth;
}

.animate-grid {
  animation: grid 15s linear infinite;
}

.animate-shiny-text {
  animation: shiny-text 8s infinite;
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shine {
  animation: shine var(--duration) linear infinite;
}

.animate-meteor {
  animation: meteor 5s linear infinite;
}

.animate-gradient {
  animation: gradient 8s linear infinite;
}

.animate-orbit {
  animation: orbit calc(var(--duration) * 1s) linear infinite;
}

.animate-shimmer-slide {
  animation: shimmer-slide var(--speed) ease-in-out infinite alternate;
}

.animate-spin-around {
  animation: spin-around calc(var(--speed) * 2) infinite linear;
}

@keyframes grid {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shiny-text {
  0%,
  90%,
  100% {
    background-position: calc(-100% - var(--shiny-width)) 0;
  }
  30%,
  60% {
    background-position: calc(100% + var(--shiny-width)) 0;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@keyframes shine {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
  }
}

@keyframes gradient {
  to {
    background-position: var(--bg-size, 300%) 0;
  }
}

@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}

@keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
  }
}

@keyframes spin-around {
  0% {
    transform: translateZ(0) rotate(0);
  }
  15%,
  35% {
    transform: translateZ(0) rotate(90deg);
  }
  65%,
  85% {
    transform: translateZ(0) rotate(270deg);
  }
  100% {
    transform: translateZ(0) rotate(360deg);
  }
}
